.character{
    height:300px;
    width:400px;
    border-radius:10px;
    margin-bottom:10px;
    color:white;
    box-sizing:border-box;
    padding:8px;
    position:relative;
}

.character div{
    margin-bottom:20px;
}

.autobot{
    background-color:white;
    border:1px solid #991f00;
    background-image:url("https://cdn4.iconfinder.com/data/icons/proglyphs-free/512/Autobot-512.png");

}

.decepticon {
    background-color: orangered;
    border: 1px solid #330033;
    background-size: 20% 20%;
    background-repeat: no-repeat;
    background-position: top right;

}

img{
    height:40px;
    position:absolute;


    top:2px;
    right:2px;

}